{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:150}}
    {% else %}
        Welcome to EcomZone Where you can buy the things that you imagine
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}} - EcomZone
    {% else %}
        See Cur Cew Collection - EcomZone
    {% endif %}
{% endblock %}

{% block content %}

{% if category %}
<div>
    <div>
        <p><a href="{% url 'EcomApp:allProdCat' %}" >Our Product Collection</a></p>
    </div>
</div>
{% endif %}

<div>
{% if category %}
    <div  align="center">
        <img src="{{category.cat_img.url}}" width="30%" alt="{{category.name}}">
    </div><br>

    <div align="center">
        <h2>{{category.name}}</h2>
        <p>{{category.description}}</p>
    </div>

{% else %}
    <div>
        <img  src="{% static 'images/banner.jpeg' %}" width="100%" height="400rem">
    </div><br>
    <div class="container">
        <h3>Our Products</h3>
        <p>
            Enterprise ecommerce is the buying and selling of products to large
            companies or organizations. If a large business sells many different types
            of products or has multiple brand lines and transitions into selling online,
            then it is participating in enterprise ecommerce.
        </p>
    </div>
{% endif %}
</div>

<div>
    {% for product in products %}
    <div>
        <div class="col-sm-4">
            <a href="{{ product.get_url }}"><img src="{{product.prod_img.url}}" width="100px" height="100px" alt="{{product.name}}"></a>
            <div>
                <h1>{{ product.name }}</h1>
                <p align="center">$ : {{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
