{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{category.description|truncatewords:150}}
    {% else %}
        Welcome to EcomZone Where you can buy the things that you imagine
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{category.name}} - EcomZone
    {% else %}
        See Cur Cew Collection - EcomZone
    {% endif %}
{% endblock %}

{% block content %}

{% if category %}
    <div  class="mx-auto" align="center">
        <img class="my_image" src="{{category.cat_img.url}}" alt="{{category.name}}">
    </div><br>

    <div class="container" align="center">
        <h2>{{category.name}}</h2>
        <p>{{category.description}}</p>
    </div>

{% else %}

    <div >
        <img class="my_image" src="{% static 'images/banner.jpeg' %}" >
    </div><br>
    <div class="container">
        <div>
            <h3 class="text-center my-title"><b>Our Products</b></h3>
            <p class="text-justify">
                Enterprise ecommerce is the buying and selling of products to large
                companies or organizations. If a large business sells many different types
                of products or has multiple brand lines and transitions into selling online,
                then it is participating in enterprise ecommerce.
            </p>
        </div>
    </div>
{% endif %}


<div class="container">
    <div class="row mx-auto">

        {% for product in products.object_list %}

        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4" style="padding:10px">
            <div class="card text-center">

                <a href="{{ product.get_url }}">
                    <div>
                        <img src="{{product.prod_img.url}}" height="250px" alt="{{product.name}}">
                    </div>
                </a>

                <div class="card-body">
                    <a href="{{product.get_url}}" style="text-decoration:none;color:black">
                        <div class="card-title" style="margin-top:25px;height:5rem">
                            <h1 style="font-size:20px"><b>{{ product.name }}</b></h1>
                            <p style="font-size:13px">$ : {{ product.price }}</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{ pg }}" class="btn btn-light btn-sm
            {% if products.number == pg %} btn-outline-primary {%endif%}">{{ pg }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
