{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<div class="signup-form" style="width:35rem;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <p class="hint-text">Create your account. Only takes a minute.</p>

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
                <div class="col-sm-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
            </div>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required"></div>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password1" placeholder="Confirm Password" required="required"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
        </div>

        <div class=" form-group ">
            <div class="row">
                <div class="col-sm-6">Already have an account? <br> <a href="{% url 'EcomCredential:login' %}" style="color:blue;">Sign in</a></div>
                <div class="col-sm-6 " align="right"><button type="submit" class="btn btn-primary ">Register Now</button></div>
            </div>
        </div>

        <div class="form-group">
            <div class="text-center" style="color:red;">{% for msg1 in messages %} {{ msg1 }} {% endfor %}</div>
        </div>



    </form>
</div>
</div>

{% endblock %}